54 style.css @@ -0,
0+1,
54 @@ body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 10px;
}

ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #db924a;
}

nav li {
    display: inline-block;
    transition-duration: 0.4s;
}

nav a {
    font-size: 60;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    font-size: 40px;
}

nav li:hover {
    background-color: #f0c464;
}

form input,
textarea {
    border-radius: 4px;
}

.button {
    background-color: #db924a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.button:hover {
    background-color: #f0c464;
    cursor: pointer;
}